<p><%= form_for ([@essay, @section]) do |f| %></p>

  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :outline %></p>
  <p><%= f.text_area :outline %></p>

  <%= f.submit :class => "btn waves-effect lime"%>

<%end%>
