<h1>Welcome to the Essay Organizer</h1>
<h9>This application helps you organize your research, sources, and essay using a user-friendly format that will aid your writing process<h9>
<%if @essays.any?%>
  <ul class="collapsible " data-collapsible="accordion">
    <%@essays.each do |essay| %>
      <li>
        <div class="collapsible-header">
          <span><i class="material-icons">book</i><%= essay.title %></span>
        </div>

        <div class="collapsible-body">
            <span>Due on: <%= essay.due_date %>
            <%= link_to "View Essay", essay_path(essay), :class => "btn btn-flat waves-effect waves-purple right"%>
            <%= link_to "Delete", essay_path(@essay), method: :delete,
                                   data: {confirm: "Are you sure you want to delete this essay"},
                                   :class => "btn-flat waves-effect waves-red lighten-3"%>
          </span>
        </div>
      </li>
    <%end%>
  </ul>
<%end%>

<%= link_to "Create New Project", new_essay_path, :class => "waves-effect waves-light btn-large" %>

<script>
   $('.collapsible').collapsible();
</script>
