<%= render "sidebar" %>
<h1><%= @essay.title %></h1>
<h9>Due Date: <%=@essay.due_date %></h9>
<% if @essay.drafts.any?%>
  <%= render @essay.drafts %>
<%end%>

<% if @essay.sources.any?%>
  <%= render @essay.sources %>
<%end%>


<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Research</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header">Outline</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header">Bibliography</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header">Write</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

  <script>
     $('.collapsible').collapsible();
   </script>
