<%= render "sidebar" %>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<h1><%= @essay.title %></h1>
<h9> <div class="date red-text"> Due Date: <%=@essay.due_date %></div></h9>
<% if @essay.drafts.any?%>
  <%= render @essay.drafts %>
<%end%>

<% if @essay.sources.any?%>
  <%= render @essay.sources %>
<%end%>

<!-- <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Research</div>
    </li>
    <li>
      <div class="collapsible-header">Outline</div>
    </li>
    <li>
      <div class="collapsible-header">Bibliography</div>
    </li>
    <li>
      <div class="collapsible-header">Write</div>
    </li>
  </ul> -->

  <script>
     $('.collapsible').collapsible();
   </script>
