<%= render "sidebar" %>
<h1><%= @essay.title %></h1>
<h9>Due Date: <%=@essay.due_date %></h9>
<% if @essay.drafts.any?%>
  <%= render @essay.drafts %>
<%end%>

<% if @essay.sources.any?%>
  <%= render @essay.sources %>
<%end%>
