
<h1><%= @essay.title %></h1>
<h9> <div class="date red-text"> Due Date: <%=@essay.due_date %></div></h9>

<% if @essay.drafts.any?%>
  <%= render @essay.drafts %>
<%end%>

<% if @essay.sources.any?%>

  <%= render @essay.sources %>

<%end%>


<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Bibliography</div>
      <div class="collapsible-body">
        <ul>
        <% if @essay.sources.any?%>
          <% @essay.sources.each do |source| %>
            <li><%= link_to "Source", essay_source_path(@essay, source) %>
              <%= link_to "Edit", edit_essay_source_path(@essay, source), :class => "btn-floating btn-flat waves-effect waves-teal lighten-1" %>
              <%= link_to "Delete", essay_source_path(@essay, source), method: :delete, data: {confirm: "Are you sure you want to delete this draft?"}, :class => "btn-floating btn-flat waves-effect waves-red lighten-1" %></li>
          <%end%>
        <%end%>
        <li><%= link_to "New Source!", new_essay_source_path(@essay) %></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Write</div>
      <div class="collapsible-body">
        <ul>
        <% if @essay.drafts.any?%>
          <% @essay.drafts.each do |draft| %>
            <li><%= link_to "Draft", essay_draft_path(@essay, draft) %>
            <%= link_to "Edit", edit_essay_draft_path(@essay, draft), :class => "btn-floating btn-flat waves-effect waves-teal lighten-1" %>
            <%= link_to "Delete", essay_draft_path(@essay, draft), method: :delete, data: {confirm: "Are you sure you want to delete this draft?"}, :class => "btn-floating btn-flat waves-effect waves-red lighten-1" %></li>
          <%end%>
        <%end%>
        <li><%= link_to "New Draft!", new_essay_draft_path(@essay) %></li>
      </ul>
      </div>
    </li>
  </ul>

  <% if @essay.sections.any? %>
    <div class="section-outline">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <h4>Outline</h4>
          </div>
        </li>
        <%= render @essay.sections %>
      </ul>
    </div>
  <% end %>

<script>
   $('ul.tabs').tabs();
   $('.collapsible').collapsible();
</script>
