
<h1><%= @essay.title %></h1>
<h9> <div class="date red-text"> Due Date: <%=@essay.due_date %></div></h9>

<% if @essay.drafts.any?%>
  <%= render @essay.drafts %>
<%end%>

<% if @essay.sources.any?%>
<div class="row">
   <div class="col s12">
     <ul class="tabs">
       <% @essay.sources.each do |source| %>
         <li class="tab col s3"><a href=source><i class="material-icons">book</i></a></li>
       <%end%>
     </ul>
   </div>

   <div id=source class="col s12">
     <% @essay.sources.each do |source| %>
        <%= render @essay.sources %>
     <%end%>
   </div>
 </div>
<%end%>


<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Bibliography</div>
      <div class="collapsible-body">
        <ul>
        <% if @essay.sources.any?%>
          <% @essay.sources.each do |source| %>
            <% @title = source.title %>
            <li><%= link_to "#{@title}", essay_source_path(@essay, source) %></li>
          <%end%>
        <%end%>
        <li><%= link_to "New Source!", new_essay_source_path(@essay) %></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Write</div>
      <div class="collapsible-body">
        <ul>
        <% if @essay.drafts.any?%>
          <% @i = 0 %>
          <% @essay.drafts.each do |draft| %>
            <li><%= link_to "Draft", essay_draft_path(@essay, draft) %></li>
            <% @i+=1 %>
          <%end%>
        <%end%>
        <li><%= link_to "New Draft!", new_essay_draft_path(@essay) %></li>
      </ul>
      </div>
    </li>
  </ul>

  <% if @essay.sections.any? %>
    <div class="section-outline">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <h4>Outline</h4>
          </div>
        </li>
        <%= render @essay.sections %>
      </ul>
    </div>
  <% end %>

  <script>
    $('ul.tabs').tabs();
  </script>

  <script>
     $('.collapsible').collapsible();
   </script>
