<%= render "sidebar" %>
<h1><%= @essay.title %></h1>
<span class="new badge red"><%=@essay.due_date %></span>
<!-- <ul><%= @essay.due_date %></ul> --> -->
<% if @essay.drafts.any?%>
  <%= render @essay.drafts %>
<%end%>

<% if @essay.sources.any?%>
  <%= render @essay.sources %>
<%end%>
